
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root must take full height */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* App background */
.App {
  min-height: 100vh;
  width: 100vw;

  background-image: url("./chatappimage2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
