name: Docker Build and Push

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Backend Image
      run: |
        docker build -t chatapp2-backend ./Backend

    - name: Build Frontend Image
      run: |
        docker build -t chatapp2-frontend ./Frontend
